<table id="admin-stats">
  <tr>
    <th></th>
    <th>Stats</th>
    <th></th>
  </tr>

  <tr>
    <td></td>
    <td id="top-three-sellers"> Top Sellers:
      <% @three_highest_sellers.each do |seller| %>
        <%= seller.name %>
      <% end %>
    </td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>Your Single Largest Order was: <%# binding.pry %></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>You have Sold x Items</td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td>Top Selling Locations</td>
    <td></td>
  </tr>

  <tr>
    <% @top_selling_states.each_with_index do |user, index| %>
      <td>#<%= index+1 %>: <%= user.state %></td>
    <% end %>
  </tr>

  <tr>
    <td>1: Fairbanks</td>
    <td>1: Johnson City</td>
    <td>1: Utica</td>
  </tr>

  <tr>
    <td>2: Los Angeles</td>
    <td>2: Nashville</td>
    <td>2: New York</td>
  </tr>

  <tr>
    <td>3: Oakland</td>
    <td>3: Cookville</td>
    <td>3: Rochester</td>
  </tr>
</table>
