
<div id="carousel-cont" class="carousel-container">
  <div class="carousel">
    <img class="carousel-image initial" src="assets/gaming_computer.jpg">
    <img class="carousel-image" src="assets/starry_night_camping.jpg">
    <img class="carousel-image" src="assets/coffee_maker.jpg">
    <img class="carousel-image" src="assets/baby_yoda.jpg">
    <div id="next-bttn" class="carousel-next-button"></div>
    <div id="prev-bttn" class="carousel-prev-button"></div>
  </div>
</div>
