<h1> All Merchants </h1>

<% @merchants.each do |merchant| %>
  <% if current_admin? %>
    <%=link_to merchant.name, admin_user_path(merchant), class: "merchant-link", id: "merchant-name"%>
  <% else %>
    <%= merchant.name %>
  <% end %>

  <% if merchant.status == 'active' && current_admin?%>
      <%= link_to 'Disable', admin_user_path(merchant, status: 'disabled'), method: :put, class: "status-link", id: "disable-link" %>
    <% elsif  merchant.status == 'disabled' && current_admin? %>
      <%= link_to 'Enable', admin_user_path(merchant, status: 'active'), method: :put, class: "status-link", id: "enable-link" %>
    <% else %>

    <% end %>
<% end %>
