.page-title {
  margin: 30px 10px;
}

.cart {
  font-size: 2em;
  color: white;
  margin-bottom: 100px;
}

.increment-link {
  text-decoration: none;
  font-size: 0.7em;
  padding: 5px;
  border-radius: 50%;
}

.increment-link:hover {
  color: red;
}

.item-cart-image {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  vertical-align: text-top;
}

.item-list {
  background-color: darkgrey;
  text-decoration: none;
  height: 100%;
  margin: 25px;
  padding: 10px;
  border: grey;
  border-width: 10px;
  border-style: outset;
}
.item-list:hover {
  border-width: 10px;
  border-style: inset;
}

.price {
  float: right;
}

.cart-link{
  font-size: 0.5em;
  margin: 5px 20px 5px 10px;
  padding: 5px;
  border-radius: 10px;
  float: right;
}

#empty-cart-link {
  background: darkred;
  color: white;
  text-decoration: none;
}

#empty-cart-link:hover {
  background: red;
  color: white;
}

#checkout-link {
  background: darkgreen;
  color: white;
  text-decoration: none;
}

#checkout-link:hover {
  background: green;
  color: white;
}

#cart-total {
  float: right;
  color: white;
  margin-right: 40px;
}

#login-or-register {
  margin: 20px;
  float: right;
}
