.page-title {
  margin: 30px 10px;

}

.cart {
  font-size: 2em;
  color: white;
  margin-bottom: 100px;
}

#all-items-list {
  background-color: aliceblue;
}

.item-cart-image {
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  vertical-align: text-top;
}

.item-list {
  background-color: darkgrey;
  text-decoration: none;
  height: 100%;
  margin: 25px;
  padding: 10px;
  border: grey;
  border-width: 10px;
  border-style: outset;
}
.item-list:hover {
  border-width: 10px;
  border-style: inset;
}

.price {
  float: right;
}

#empty-cart-link {
  font-size: 0.5em;
  margin: 5px 20px;
  padding: 5px;
  border-radius: 10px;
  float: right;
  background: darkred;
  color: white;
  text-decoration: none;
}

#empty-cart-link:hover {
  background: red;
  color: white;
}

#cart-total {
  float: right;
  color: white;
  margin-right: 40px;
}
