header {
  background-color: #5E9CFE;
}

.page-header {
  display: flex;
  height: 90px;
}

.item-nav-search {
  height: 40px;
  width: 40%;
  min-width: 300px;
  max-width: 700px;
  margin: 40px 3%;
  font-size: 1.2em;
  padding: 7px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nav-search-button {
  background: #25283D url('mag-glass-icon.png') no-repeat center;
  background-size: 26px;
  border: none;
  height: 40px;
  width: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  top: 32px;
  right: 70px;
}

.nav-search-button:hover {
  cursor: pointer;
  background-color: #533557;
}

.cart-count {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: transparent url('shopping-cart.png') no-repeat center;
  background-position-x: -4px;
  background-position-y: 4px;
  height: 45px;
  width: 40px;
  color: white;
  font-weight: 900;
  font-size: 1.2em;
}

.item-count {
  color: white;
}

.logged-in-as{
  float: right;
  margin-right: 20px;
  font-size: 1.3em;
}

.user-name {
  color: white;
}

.welcome-header {
  margin: 20px 0px 20px 120px;
  font-size: 3.5em;
  color: black;
  filter: opacity(.9);
  overflow-wrap: normal;
  display: inline;
  min-width: 211px;
}

.user-links {
  min-width: 130px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex: wrap;
}

li {
  font-size: 2em;
  flex: 1;
  float: left;
  color: white;
}

.welcome-user {
  color: white;
  text-align: left;
  padding: 20px 0px 20px 20px;
  background-color: black;
}

.lower-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.link {
  display: block;
  color: white;
  text-align: left;
  padding: 3px 16px;
  text-decoration: none;
  font-size: 1.3em;
  border: transparent solid 1px;
}

.view-cart-link {
  margin-top: 27px;
  width: 100px;
  height: 52px;
  padding-top: 10px;
  min-width: 100px;
}

.side-nav > a:hover {
  background-color: #111;
  border: transparent solid 1px;
}

a:hover {
  border: white solid 1px;
}

.login-link {
  margin-top: 26px;
}

.profile-link {
  margin-top: 26px;
}
