.right-col-text {
  padding: 0px 30px;
}

.item-show {
  display: flex;
  width: 80%
}

.item-head {
  margin-bottom: 20px;
  font-size: 5em;
}

.item-text {
  font-size: 1.4em;
  margin-bottom: 15px;
}

.item-description {
  font-size: 1.3em;
  overflow: scroll;
}

.seller-name {
  text-decoration: none;
  white-space: nowrap;
}

.add-link {
  text-decoration: none;
  font-size: 1.3em;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
  width: 50%;
  min-width: 180px;
  height: 38px;
  background-image: linear-gradient(#5E9CFE 60%, white 80%, #5E9CFE 100%);
  cursor: pointer;
  color: white;
  padding-bottom: 10px;
}

.add-link:hover {
  background-image: linear-gradient(#5E9CFE 80%, white 95%, #5E9CFE 100%);
  padding-top: 10px;
  padding-bottom: 0px;
}

.item-big-image {
  margin: 20px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: solid 5px #25283D;
}
