.item-info {
  font-size: 2em;
  color: #38618C;
  margin: 20px;
}


.item-thumbnail {
  float: right;
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid 5px #BFAE48
}
.item-thumbnail:hover{
  border: solid 5px green;
}

#item-name {
  text-decoration: none;
}

#item-name:hover {
  color: green;
  text-decoration: underline;
}

#items-list {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
}

#stats-block {
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-entry {
  margin: 10px;
  background: white;
  border-top-right-radius: 100px;
  height: 100%;
  border-left: 6px solid red;
}

.item-entry:hover {
  border-left: 12px solid green;
}
