.users-table td {
  height: 80px;
}

.merchant-link{
  margin: 0px 20px;
  font-size: 2em;
  color: black;
}

#merchant-name {
  font-size: 4em;
  text-decoration: none;
}

#merchant-name:hover {
  /* text-decoration: underline; */
  color: blue;
}


.status-link {
  font-size: 2em;
  padding: 5px;
  width: 130px;
  text-align: center;
  text-decoration: none;
}

#disable-link {
  background: darkred;
  color: white;
}
#disable-link:hover {
  background: red;
}

#enable-link {
  background: darkgreen;
  color: white;
}
#enable-link:hover {
  background: green;
}
