ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  flex: wrap;
}

li, #logged-in-as {
  font-size: 2em;
  flex: 1;
  float: left;
  color: white;
}

#logged-in-as {
float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#view-cart-link {
  color: #2D936C;
}

#num-items {
  float: right;
  padding: 14px 16px;
}
