<h1 id="headline"> User Information </h1>

<% if @user.role == 'registered_user' %>
  <%= link_to "Upgrade To Merchant", admin_user_path(@user, role: 'merchant_user'), method: :put%>
<% elsif @user.role == 'merchant_user' %>
  <%= link_to "Downgrade To Registered User", admin_user_path(@user, role: 'registered_user'), method: :put%>
<% end %>
